$color1: #444fff;
$color2: #ffb469;
$color3: #8b339e;
$color4: #f9a4d3;
$color5: #ffe2e2;
$color6: #aa96da;
$color7: #a2b29f;
$borderradious: 10px;
.extend-section2-bg {
  padding: 10rem 2rem;
  border-radius: $borderradious;
  width: 100%;
  height: 100%;
}
.extend-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  nav {
    position: relative;
    a {
      padding: 1rem;
      text-decoration: none;
      color: white;
    }
    a:hover:before {
      content: "";
      position: absolute;
      top: -5px;
      background-color: $color7;
      width: 6px;
      height: 6px;
      border-radius: 100%;
    }
  }
}
.extend-bg-pic {
  background-position: center;
  background-size: cover;
}
.extend-bg-color {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.extend-arrow-animation {
  span {
    color: transparent;
  }
  h2:hover {
    span {
      color: white;
      transition: 0.2s ease-in;
      transform: translateX(4px);
    }
  }
}

.hover-section1 {
  &:hover {
    transition: 300ms ease;
    transform: translateY(-0.5rem);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem 4rem;
  box-sizing: border-box;
  background-color: black;
  color: white;

  header {
    margin-bottom: 3rem
  }

  .nav {
    @extend .extend-nav;
    .nav-name {
      position: relative;
      left: 1rem;
    }
    h1 {
      font-size: 3rem;
      font-weight: bolder;
    }
  }

  main {
    .section1 {
      .section1-divArticle1 {
        display: grid;
        grid-template: "area1 area2 area3" "area1 area4 area5";
        gap: 10px;
        padding-bottom: 1rem;

        article:nth-child(1) {
          grid-area: area1;
          background-image: url("https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          @extend .extend-bg-pic;
          width: 100%;
          height: 27rem;
          border-radius: $borderradious;
          @extend .hover-section1;
        }

        article:nth-child(2) {
          grid-area: area2;
          background-image: linear-gradient(
              hsla(236, 100%, 63%, 0.808),
              hsla(236, 100%, 63%, 0.808)
            ),
            url("https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          @extend .extend-bg-pic;
          @extend .hover-section1;
        }
        article:nth-child(3) {
          grid-area: area3;
          background-color: $color2;
          @extend .extend-bg-pic;

          @extend .hover-section1;
        }
        article:nth-child(4) {
          grid-area: area4;
          background-image: linear-gradient(
              hsla(289, 50%, 41%, 0.808),
              hsla(289, 50%, 41%, 0.712)
            ),
            url("https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          @extend .hover-section1;
        }
        article:nth-child(5) {
          grid-area: area5;
          background-image: linear-gradient(
              hsla(327, 88%, 81%, 0.795),
              hsla(327, 88%, 81%, 0.781)
            ),
            url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          @extend .extend-bg-pic;
          @extend .hover-section1;
        }
        article {
          padding: 2rem;
          border-radius: 10px;
        }
      }

      .section1-divArticle2 {
        margin-bottom: 3rem;
        article {
          margin-bottom: 1rem;
          border-radius: $borderradious;
        }
        article:nth-child(1) {
          position: relative;
          width: 100%;
          height: 30rem;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            .divArticle2-article1__img {
              transform: scale(1.03);
              transition: all 0.4s ease-in-out;
            }
          }

          .divArticle2-article1__img {
            width: 100%;
            height: 100%;
            background-image: url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
            background-position: center;
            background-size: cover;
          }
          .divArticle2-article1__text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            z-index: 1;
            @extend .extend-arrow-animation;
          }
        }
        .section1-divArticle2-article1::before {
          @extend .extend-bg-color;
          background-color: hsla(150, 76%, 43%, 0.582);
        }
        article:nth-child(2) {
          position: relative;
          width: 100%;
          height: 30rem;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            .divArticle2-article2__img {
              transform: scale(1.03);
              transition: all 0.4s ease-in-out;
            }
          }
          .divArticle2-article2__img {
            width: 100%;
            height: 100%;
            background-image: url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
            background-position: center;
            background-size: cover;
          }
          .divArticle2-article2__text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            z-index: 1;
            @extend .extend-arrow-animation;
          }
        }
        .section1-divArticle2-article2::before {
          @extend .extend-bg-color;
          background-color: rgba(52, 73, 94, 0.75);
        }
      }
    }
    .section2 {
      h4 {
        text-align: center;
        padding-bottom: 2rem;
      }
      .section2-divArticle1 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding-bottom: 1rem;

        .section2-divArticle__art {
          border-radius: 10px;
          width: 100%;
          height: 20rem;
          position: relative;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            .divArticle1-art__img {
              transform: scale(1.03);
              transition: all 0.4s ease-in-out;
            }
          }

          .divArticle1-art__img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
          }

          #divArticle1-art__img {
            background-image: url("https://images.unsplash.com/photo-1487015307662-6ce6210680f1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }
          #divArticle2-art__img {
            background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }
          .divArticle1-art__text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            z-index: 1;
            @extend .extend-arrow-animation;
          }
        }
        .section2-divArticle__art::before {
          @extend .extend-bg-color;
          background-color: hsla(30, 90%, 72%, 0.808);
        }

        #section2-divArticle1__art::before {
          background-color: hsla(283, 68%, 84%, 0.815);
        }
        #section2-divArticle2__art::before {
          background-color: hsla(30, 78%, 67%, 0.781);
        }
      }

      .section2-divArticle3 {
        display: grid;
        grid-template-areas: "art1 art2 art3" "art4 art5 art5";
        gap: 10px;
        padding-bottom: 2rem;

        article {
          width: 100%;
          height: 16rem;
          border-radius: 10px;
        }
        .section2-divArticle3__article1 {
          grid-area: art1;
        }

        .section2-divArticle3__article2 {
          grid-area: art2;
        }

        .section2-divArticle3__article3 {
          grid-area: art3;
        }
        .section2-divArticle3__article4 {
          grid-area: art4;
        }
        .section2-divArticle3__article5 {
          grid-area: art5;
        }
        .section2-divArticle__art {
          border-radius: 10px;
          width: 100%;
          height: 20rem;
          position: relative;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            .divArticle1-art__img {
              transform: scale(1.03);
              transition: all 0.4s ease-in-out;
            }
          }

          .divArticle1-art__img {
            width: 100%;
            height: 100%;
            background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
            background-position: center;
            background-size: cover;
          }
          #section2-divArticle3__img1 {
            background-image: url("https://images.unsplash.com/photo-1528441397448-a44d50563cf8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }
          #section2-divArticle3__img2 {
            background-image: url("https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }
          #section2-divArticle3__img3 {
            background-image: url("https://images.unsplash.com/photo-1551216223-37c8d1dbec5c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }
          #section2-divArticle3__img4 {
            background-image: url("https://images.unsplash.com/photo-1556742208-999815fca738?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
          }

          .divArticle1-art__text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            z-index: 1;
            @extend .extend-arrow-animation;
          }
        }
        .section2-divArticle__art::before {
          @extend .extend-bg-color;
          background-color: hsla(326, 88%, 81%, 0.801);
        }
        #section2-divArticle3__art1::before {
          background-color: transparent;
        }
        #section2-divArticle3__art2::before {
          background-color: hsla(327, 81%, 71%, 0.815);
        }
        #section2-divArticle3__art3::before {
          background-color: hsla(240, 2%, 54%, 0.815);
        }
        #section2-divArticle3__art4::before {
          background-color: hsla(240, 3%, 62%, 0.411);
        }
        #section2-divArticle3__art5::before {
          background-color: #62e2cc;
        }
      }
    }
    .section3 {
      text-align: center;
      padding-bottom: 2rem;
      .section3-div {
        // position: relative;
        display: flex;
        justify-content: center;

        .animated-text-container {
          width: 14rem;

          padding: 1rem;
          h4 {
            margin: 1rem;
            overflow: hidden;
            border-right: 0.15em solid rgb(255, 145, 0);
            white-space: nowrap;
            margin: 0 auto;
            animation: typing 5s steps(40, end) infinite,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing {
            0% {
              width: 0;
            }

            50% {
              width: 100%;
            }

            100% {
              width: 0;
            }
          }

          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: rgb(228, 128, 13);
            }
          }
        }
      }

      input {
        margin: 1rem;
        text-align: center;
        border: none;
        border-bottom: 1px solid rgb(243, 237, 237);
        width: 15rem;
        background-color: black;
        padding: 1rem;

        &:focus {
          outline: none;
          width: 20rem;
          transition: width 500ms;
        }
      }
      button {
        padding: 1rem 3rem;
        border-radius: 10px;
        border: none;
        &:hover {
          background-color: rgb(255, 208, 147);
          transition: background-color 0.5s ease-out 100ms;
        }
      }
    }
  }

  footer {
    @extend .extend-nav;
    a {
      color: white;
      padding-right: 1.5rem;
    }
  }
}
